name: Test Suite

on: [push]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install dependencies
              run: npm install

            - name: Compile using TSC
              run: npm run build

            - name: Run tests
              run: npm run test
              env:
                GROUPME_TOKEN: ${{ secrets.GROUPME_TOKEN }}
